<nav class="vertical">
    <ul>
      <li><a href="/api/Books">Books +</a>
        <ul>
          <li><a href="/api/Books/literature">Literature</a></li>
          <li><a href="/api/Books/families & relationship">Families and Relationship</a></li>
          <li><a href="/api/Books/fantasy">Fantasy</a></li>
          <li><a href="/api/Books/children">Children</a></li>
          <li><a href="/api/Books/classics">Classics</a></li>
          <li><a href="/api/Books/crime">Crime</a></li>
          <li><a href="/api/Books/short stories">Short stories</a></li>
          <li><a href="/api/Books/young adults">Young Adults</a></li>
          <li><a href="/api/Books/romance">Romance</a></li>
          <li><a href="/api/Books/science fiction">Science fiction</a></li>
          <li><a href="/api/Books/general">General</a></li>
          <li><a href="/api/Books/others">Others</a></li>
        </ul>   
    </li>
  
      <li>
        <a href="/api/Accessories">Accessories +</a>
          <ul>
            <li><a href="/api/Accessories/belts">Belts</a></li>
            <li><a href="/api/Accessories/jewellery">Jewellery</a></li>
            <li><a href="/api/Accessories/eyewea">Eyewear</a></li>
            <li><a href="/api/Accessories/bags">Bags</a></li>
            <li><a href="/api/Accessories/headwear">Headwear</a></li>
            <li><a href="/api/Accessories/wallets">Wallets</a></li>
            <li><a href="/api/Accessories/cufflinks">Cufflinks</a></li>
            <li><a href="/api/Accessories/gloves">Gloves</a></li>
            <li><a href="/api/Accessories/watches">Watches</a></li>
            <li><a href="/api/Accessories/accessory gift set">Gift set</a></li>
          </ul>
      </li>
  
      <li><a href="/api/Apparel">Apparel +</a>
        <ul>
          <li><a href="/api/Apparel/scarves">Scarves</a></li>
          <li><a href="/api/Apparel/innerwear">Innerwear</a></li>
          <li><a href="/api/Apparel/bottomwear">Bottomwear</a></li>
          <li><a href="/api/Apparel/topwear">Topwear</a></li>
          <li><a href="/api/Apparel/apparel set">Apparel set</a></li>
          <li><a href="/api/Apparel/dress">Dress</a></li>
          <li><a href="/api/Apparel/ties">Ties</a></li>
          <li><a href="/api/Apparel/stoles">Stoles</a></li>
          <li><a href="/api/Apparel/loungewear and nightwear">Loungewear and nightwear</a></li>
          <li><a href="/api/Apparel/saree">Saree</a></li>
            </ul>
          </li>
  
          <li><a href="/api/Footwear">Footwear +</a>
            <ul>
               <li><a href="/api/Footwear/socks">Socks</a></li>
               <li><a href="/api/Footwear/shoes">Shoes</a></li>
               <li><a href="/api/Footwear/flip flops">Flip flops</a></li>
               <li><a href="/api/Footwear/sandal">Sandals</a></li>
            </ul>
          </li>
  
          <li><a href="/api/Personal Care">Personnal Care +</a>
            <ul>
               <li><a href="/api/Personal Care/fragrance">Fragrance</a></li>
               <li><a href="/api/Personal Care/lips">Lips</a></li>
               <li><a href="/api/Personal Care/eyes">Eyes</a></li>
               <li><a href="/api/Personal Care/hair">Hair</a></li>
               <li><a href="/api/Personal Care/makeup">makeup</a></li>
               <li><a href="/api/Personal Care/bath and body">Bath and body</a></li>
               <li><a href="/api/Personal Care/skin care">Skin Care</a></li>
               <li><a href="/api/Personal Care/nails">Nails</a></li>
           </ul>
          </li>
  
          <li><a href="/api/Sporting Goods">Sporting Goods +</a>
            <ul>
              <li><a href="/api/Sporting Goods/bags">Bags</a></li>
              <li><a href="/api/Sporting Goods/headwear">Headwear</a></li>
              <li><a href="/api/Sporting Goods/water bottle">Water Bottle</a></li>
              <li><a href="/api/Sporting Goods/eyewear">Eyewear</a></li>
              <li><a href="/api/Sporting Goods/watches">Watches</a></li>
              <li><a href="/api/Sporting Goods/sports equipment">Sports equipement</a></li>
  
            </ul>
          </li>
  
          <li><a href="/api/Phones">Phones +</a>
            <ul>
              <li><a href="/api/Phones/android">Android</a></li>
              <li><a href="/api/Phones/honor">Honor</a></li>
              <li><a href="/api/Phones/vivo">Vivo</a></li>
              <li><a href="/api/Phones/sony">Sony</a></li>
              <li><a href="/api/Phones/oppo">Oppo</a></li>
              <li><a href="/api/Phones/redmi">Redmi</a></li>
              <li><a href="/api/Phones/nokia">Nokia</a></li>
              <li><a href="/api/Phones/oneplus">Oneplus</a></li>
              <li><a href="/api/Phones/apple">Apple</a></li>
              <li><a href="/api/Phones/samsung">Samsung</a></li>
              <li><a href="/api/Phones/huawei">Huawei</a></li>
            </ul>
          </li>
  
         
  
  
  
    </ul>
  </nav>