<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>TestTemplate</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<!--First element-->
<app-navbar-visiteur></app-navbar-visiteur>

<!--Second element-->
<app-search-form-visiteur></app-search-form-visiteur>
<!--Third element-->
<table>  
  <tr>
    <td style="width: 80px;"></td>
    <td>
      <app-categories-menu-visiteur></app-categories-menu-visiteur>
    </td>
    <td style="width: 80px;"></td>

    <td>
      <app-carousel-visiteur></app-carousel-visiteur>
    </td>
    <td style="width: 80px;"></td>

    <td >
      <app-ads-visiteur></app-ads-visiteur>
    </td>
    <td style="width: 80px;"></td>
  </tr>
  </table>

</body>
</html>
