<div class="row">
<div class="col-md-12">
  <div class="card card-chart">
    <div class="card-header">
      <h5 class="card-title">Most Posted Product By Category</h5>
    </div>
    <div class="card-body" >
      <canvas baseChart id="lineChartExample"
      [datasets]="lineChartData"
      [labels]="lineChartLabels"
      [chartType]="lineChartType"></canvas>
    </div>
    
  </div>
</div>
</div>
<br>


<div class="row">
    <div class="col-md-12">
      <div class="card ">
        <div class="card-header ">
          <h5 class="card-title">Active Users</h5>
        </div>
        <div class="card-body ">
          <canvas id=chartHours width="400" height="100"></canvas>
        </div>
        <div class="card-footer ">
          <hr>
        </div>
        
      </div>
    </div>
  </div>
  <br>



  <div class="row">
    <div class="col-md-12">
      <div class="card ">
        <div class="card-header ">
          <h5 class="card-title">Most posted by SubCategorie</h5>
        </div>
        <div class="card-body ">
          <canvas id="chartEmail"></canvas>
        </div>
      </div>
    </div>
    </div><br>


    <div class="row">
    <div class="col-md-12">
      <div class="card card-chart">
        <div class="card-header">
          <h5 class="card-title">Most posted by Categorie</h5>
        </div>
        <div class="card-body">
          <canvas id="speedChart"></canvas>
        </div>
        <div class="card-footer">
          <div class="chart-legend">
            <i class="fa fa-circle text-info"></i> count posted
            <i class="fa fa-circle" style="color: 	#00ff00;"></i>  count total rating 
            <i class="fa fa-circle" style="color: #E125D4;"></i>  count likes
            <i class="fa fa-circle " style="color: #ff0000 ;"></i>  rated 
          </div>
          <hr/>
        </div>
      </div>
    </div>
    </div><br>


    <div class="row">
    <div class="col-md-12">
        <div class="card card-chart">
          <div class="card-header">
            <h5 class="card-title">Product Most Popular by rating</h5>
          </div>
          <div class="card-body">
            <canvas id="ChartHoriz" width="800" height="450"></canvas>
          </div>
        </div>
      </div>
    </div>
    <br>


    <div class="row">
      <div class="col-md-12">
        <div class="card card-chart">
          <div class="card-header">
            <h5 class="card-title">Product Most Popular</h5>
          </div>
          <div class="card-body">
            <canvas id="mixedchart" width="800" height="450"></canvas>
          </div>
        </div>
      </div>
    </div>
    <br>


    <div class="row">
      <div class="col-md-12">
        <div class="card card-chart">
          <div class="card-header">
            <h5 class="card-title">Most Active Client</h5>
          </div>
          <div class="card-body">
            <canvas id="bubblechart" width="800" height="450"></canvas>
          </div>
        </div>
      </div>
    </div>
    <br>
    <br>
  