<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>TestTemplate</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<!--First element-->
<app-navbar></app-navbar>

<!--Second element-->
<app-search-form></app-search-form>
<!--Third element-->
<table>  
  <tr>
    <td style="width: 80px;"></td>
    <td>
      <app-categories-menu></app-categories-menu>
    </td>
    <td style="width: 80px;"></td>

    <td>
      <app-carousel></app-carousel>
    </td>
    <td style="width: 80px;"></td>

    <td >
      <app-ads></app-ads>
    </td>
    <td style="width: 80px;"></td>
  </tr>
  </table>

</body>
</html>
