<div class="col-md-10">
        <div>
              <div *ngFor="let info of infos">
                <p>{{info.sportcount}}</p>
              </div>
                <div style="display: block">
                  <canvas baseChart
                          [datasets]="barChartData"
                          [labels]="barChartLabels"
                          [options]="barChartOptions"
                          [legend]="barChartLegend"
                          [chartType]="barChartType">
                  </canvas>
                </div>
              </div>
              <hr/>
			  <div style="display: block">
                <canvas baseChart
                            [data]="doughnutChartData"
                            [labels]="doughnutChartLabels"
                            [chartType]="doughnutChartType"></canvas>
              </div>
              <hr/>
              <div style="display: block">
                <canvas baseChart
                        [data]="pieChartData"
                        [labels]="pieChartLabels"
                        [chartType]="pieChartType"></canvas>
              </div>
        <hr/>
        <h6>Least Popular Products</h6>
        <hr/>
        <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered " id="example">
          <thead>
            <tr>
              <th>Name product</th>
              <th>Count</th>
              <th>Like</th>
              <th>Mean</th>
              <th>Delete</th>
            </tr>
          </thead>
          <tbody>
            <tr class="odd gradeX" *ngFor="let task of tasks " >
              <td>
                  <span>{{task.Product_name}}</span>
              </td>
              <td>
                <span>{{task.Count}}</span>
              </td>
              <td>
                  <span>{{task.like}}</span>
              </td>
              <td>
                <span>{{task.Mean}}</span>
              </td>
              <td class="text-right">
                <button class="btn btn-danger" title="delete task" (click)="delete(task)">Delete</button>
              </td>
            </tr>
						</tbody>
						
            </table>
            <hr/>
            <h6>Least Active Users</h6>
            <hr/>
            <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered " id="example">
              <thead>
                <tr>
                  <th>Username</th>
                  <th>Count</th>
                  <th>Like</th>
                  <th>Mean</th>
                  <th>Delete</th>
                </tr>
              </thead>
              <tbody>
                <tr class="odd gradeX" *ngFor="let user of users " >
                  <td>
                      <span>{{user.username}}</span>
                  </td>
                  <td>
                    <span>{{user.Count}}</span>
                  </td>
                  <td>
                      <span>{{user.like}}</span>
                  </td>
                  <td>
                    <span>{{user.Mean}}</span>
                  </td>
                  <td class="text-right">
                    <button class="btn btn-danger" title="delete user" (click)="deleteuser(user)">Delete</button>
                  </td>
                </tr>
                </tbody>
                
                </table>
                <hr/>
</div>


