<div class="row">
    <div class="col-lg-5">
            <div class="input-group form">
                <input type="text" class="form-control" placeholder="Search..." [(ngModel)]="searchuser"/>
                    
            </div>
        </div>
</div>
<br>
<div class="panel-heading">
    <div class="panel-title">All Users</div>
</div>
<div class="panel-body content table-responsive">
            
    <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered " id="example">
                  <thead>
                      <tr>
                          <th>firstname</th>
                          <th>lastname</th>
                          <th>address</th>
                          <th>num_phone</th>
                          <th>email</th>
                          <th>city</th>
                          <th>country</th>
                          <th>type</th>
                          <th>Delete</th>
                          
                      </tr>
                  </thead>
                  <tbody>
                      <tr class="odd gradeX" *ngFor="let user of users | filter:searchuser | paginate:{itemsPerPage : 10 , currentPage:p}" >
                            <td>
                               <span>{{user.firstname}}</span>
                            </td>    
                            <td>
                              <span>{{user.lastname}}</span>
                            </td>
                            <td>
                                <span>{{user.address}}</span>
                            </td>
                            <td>
                                <span>{{user.num_phone}}</span>
                            </td>
                            <td>
                                <span>{{user.email}}</span>
                            </td>
                            <td>
                                <span >{{user.city}}</span>
                            </td>
                            <td>
                                <span>{{user.country}}</span>  
                            </td>
                            <td>
                                <span>{{user.type}}</span>  
                            </td>
                            <td class="text-right">
                              <button class="btn btn-danger" title="delete user" (click)="deleteuser(user)">Delete</button>
                            </td>
                      </tr>
                  </tbody>
                  
              </table>
    </div>
    <hr/>
   <pagination-controls (pageChange)="p = $event" ></pagination-controls>
   <br>